input[type="text"] {
  width: calc(100% - 4px);
  margin: var(--padding);
  //   margin-left: 2px;
  //   margin-right: 2px;
  //   margin-bottom: 2px;
  //   padding: 12px 20px;
  //   margin: 8px 0;
  box-sizing: border-box;
  font-family: var(--font);
  font-size: var(--smalltext);
}

label {
  padding-left: var(--padding);
  font-family: var(--font);
  font-size: var(--smalltext);
}
