@import "../../../variables.scss";

label {
    font-family: $font;
    font-size: $smalltext;
    padding-left: $padding;
}
select {
    font-family: $font;
    font-size: $smalltext;
    margin: $padding;
    width: calc(100% - 4px);
    box-sizing: border-box;
}

.select-wrapper {
    
    width: 100%;
}