<app-card>
  <app-toolbar>Theme manager</app-toolbar>
  <app-button-group>
    <app-button (click)="createNewTheme()">New theme</app-button>
  </app-button-group>
  <app-card>
    <app-toolbar>Themes</app-toolbar>
    <app-text-container>Available themes</app-text-container>
    <app-list>
      <app-list-item *ngFor="let theme of themes">
        <a [routerLink]="['/theme', theme.id]" routerLinkActive="router-link-active">{{theme.name}}</a>
      </app-list-item>
    </app-list>
  </app-card>


</app-card>