<app-card>
  <app-toolbar>Template manager</app-toolbar>
  <app-button-group>
    <app-button (click)="newTemplate()"><b>New</b></app-button>
    <app-button (click)="newTemplate()"><b>Search</b></app-button>
  </app-button-group>
  <app-text-container>
    Welcome to the template manager. Here you can create templates which is the
    blueprint for creating items.
  </app-text-container>

  <app-card *ngIf="templates && templates.length > 0">
    <app-toolbar>Templates</app-toolbar>

    <app-list>
      <app-list-item *ngFor="let template of templates">
        <a [routerLink]="['/template', template.id]" routerLinkActive="router-link-active">
          {{ template.name }}
        </a>
      </app-list-item>
    </app-list>
  </app-card>

</app-card>