<app-card>
    <div *ngIf="template">
        <app-toolbar>Edit template: {{template.name}}</app-toolbar>
        <app-button-group>
            <app-button (click)="newField()">Add field</app-button>

        </app-button-group>
        <app-text-container>
            Edit an existing template. You can add new fields, change the names of existing fields.<br>
            {{selectedItem}}
        </app-text-container>
        <app-list>
            <app-list-item *ngFor="let field of template.fields"><a [routerLink]=""
                    (click)="editField(field)">{{field.name}}</a>
            </app-list-item>
        </app-list>
    </div>


    <app-card *ngIf="fieldToAdd">
        <app-toolbar>New field</app-toolbar>
        <app-input type="text" [(inputValue)]="fieldToAdd.name" label="Field name" (input)="validateFieldName()">
        </app-input>
        <app-info-msg [msg]="msg"></app-info-msg>
        <app-select [options]="fieldTypes" [(inputValue)]="fieldToAdd.type" label="Field type"></app-select>
        <!-- <app-input-selector label="Select field type" [(selectedInput)]="fieldToAdd.type"></app-input-selector> -->
        <app-display-input [type]="fieldToAdd.type" render="settings" [data]="fieldToAdd">
        </app-display-input>
        <app-button-group>
            <app-button (click)="addField()">Add field</app-button>
            <app-button (click)="cancel()">Cancel</app-button>
        </app-button-group>
    </app-card>

    <app-card *ngIf="selectedField">
        <app-toolbar>Edit field: {{selectedField.name}}</app-toolbar>
    </app-card>
    <!-- <app-radio [items]="[{name: 'One', value:'one'}, {name: 'Two', value:'two'}]" name="test"
        [(selectedItem)]="selectedItem"></app-radio> -->
    <!-- <app-select [(inputValue)]="selectTest" label="Here we go"
    [options]="[{name:'One', value:'one'},{name:'Coolio', value:'voolio'}]"></app-select> -->
</app-card>