<app-li [render]="render">
  <app-li-input>
    <app-input type="text" [(inputValue)]="data.value" [label]="data.settings.label"
      (input)="inputService.fieldChanged(data)"></app-input>
  </app-li-input>
  <app-li-settings>
    <app-radio [items]="[
        { name: 'Yes', value: true },
        { name: 'No', value: false }
      ]" label="Required" [(selectedItem)]="data.settings.required"></app-radio>

    <!-- <app-input type="text" [(inputValue)]="data.settings.placeholder" label="Placeholder"></app-input> -->
    <app-input type="text" [(inputValue)]="data.settings.label" label="Label"></app-input>
  </app-li-settings>
  <app-li-output>
    Textbox rendered: Blah
  </app-li-output>
</app-li>