<app-card *ngIf="list">
    <app-toolbar>Add item to list: {{list.name}}</app-toolbar>
    <app-text-container>Search for item to add to list</app-text-container>
    <app-input type="text" label="Search" [(inputValue)]="searchTerm" (input)="performSearch()" required="true">
    </app-input>
    <app-radio [items]="[{name:'All templates', value:'all'}, {name:'One template', value:'one'}]" label="Templates"
        [(selectedItem)]="optionSelected"></app-radio>
    <app-select *ngIf="optionSelected==='one'" [options]="[{name:'theme 1', value:'1'}, {name:'theme2', value:'2'}]"
        [(inputValue)]="selectedTemplate" label="Template" (change)="templateSelected()"></app-select>
    <app-button-group>
        <app-button (click)="onClick()">Search</app-button>
        <app-button (click)="onClick()">Cancel</app-button>
    </app-button-group>
</app-card>
<app-card>
    <app-toolbar>Items found</app-toolbar>
    <app-list>
        <app-list-item>Item 1</app-list-item>
    </app-list>
</app-card>