/* You can add global styles to this file, and also import other style files */
// @import 'tailwindcss/base';
// @import 'tailwindcss/components';
// @import 'tailwindcss/utilities';
:root {
    --padding:2px;
    --font: "Times New Roman";
    --toolbarheight: 30px;
    --bigtext: 25px;
    --mediumtext: 20px;
    --smalltext:15px;
    --tinytext:10px;
    --warningcolor: yellow;
    --primary: red;
    --background: silver;
    }

    body {
        background-color: var(--background);
    }