<app-li [render]="render">
    <app-li-input>
        <label class="image-upload-container btn btn-bwm">
            <span>Select Image</span>
            <input #imageInput type="file" accept="image/*" (change)="processFile(imageInput)">
        </label>
        <app-info-msg [msg]="msg"></app-info-msg>
    </app-li-input>
    <app-li-settings>
        <app-radio [items]="[
          { name: 'Yes', value: true },
          { name: 'No', value: false }
        ]" label="Required" [(selectedItem)]="data.settings.required"></app-radio>

        <!-- <app-input type="text" [(inputValue)]="data.settings.placeholder" label="Placeholder"></app-input> -->
        <app-input type="text" [(inputValue)]="data.settings.label" label="Label"></app-input>
    </app-li-settings>
    <app-li-output>
        <img [id]="imageId" [src]='imageData' />
    </app-li-output>
</app-li>